.Next3Days {
    background-color: rgba(216, 109, 52, 0.658); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    color: black;
    margin: 7px 0px;
    border-radius: 17%;
    justify-content: space-between;
    padding-left: 12px;
}